# Backend (functions/.env)
GEMINI_API_KEY=AIzaSyAB49WZu6BUphD1hqSIcOkQuY28-tEr12g
FIREBASE_SERVICE_ACCOUNT=
APP_URL=http://localhost:3000

# Frontend (.env)
VITE_FIREBASE_API_KEY=AIzaSyCFoTOemx4PNmBeMjUmar70Hq0ZVhQDW08
VITE_FIREBASE_AUTH_DOMAIN=aegis-ai-d9204.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=aegis-ai-d9204
VITE_FIREBASE_STORAGE_BUCKET=aegis-ai-d9204.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=524177093144
VITE_FIREBASE_APP_ID=1:524177093144:web:42ed6220a408818af4c96d
VITE_FIREBASE_MEASUREMENT_ID=G-WWTHL92NTX
VITE_FIREBASE_FIRESTORE_DATABASE_ID=(default)
VITE_API_BASE_URL=http://localhost:5001/aegis-ai-d9204/us-central1/api
